h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.nav-link:hover{
  border-bottom: 1px solid white;
}

input[type=file]{
  display: none;
}

.font-weight-500{
  font-weight: 500;
}

.upload-outline{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.outline-grey{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dedede;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.table-header{
  color: #bdbdbd;
  font-size: 14px;
}

.table-text{
  color: #727272;
}
.header-style{
  background: #37A6BF !important;
}

.button-grey{
  color: #dedede;
  border-color: #dedede;
}
/* nav #37A6BF
table text #727272
table header #bdbdbd
blue line #469df6 */
